global:
  clusterId: someclustername
  securityContext: {}
  updateCaTrust:
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 128Mi

upstream:
  kubecostToken: "YXNkZkBhc2RmLmNvbQ==xm343yadf98"

  kubecostProductConfigs:
    currencyCode: SEK
    clusterProfile: development

  aggregator:
    persistentConfigsStorage:
      storageClass: nfs-csi
    resources:
      requests:
        cpu: 10m
        memory: 512Mi
      limits:
        memory: 512Mi

  cloudCost:
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 128Mi

  clusterController:
    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        memory: 128Mi

  enterpriseCustomPricing:
    enabled: false

  frontend:
    resources:
      requests:
        cpu: "10m"
        memory: "55Mi"
      limits:
        memory: "256Mi"

  ingress:
    enabled: true
  networkPolicy:
    enabled: false
  podSecurityPolicy:
    enabled: false # Doesn't work for really new K8s

  localStore:
    resources:
      requests:
        cpu: "10m"
        memory: "55Mi"
      limits:
        memory: "256Mi"
