{{ if .Values.cert_manager_config.use }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: addon-cert-manager-config
  namespace: {{ .Values.argo.common.apps_namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "10"
{{- if .Values.argo.common.finalizers }}
  finalizers: {{ .Values.argo.common.finalizers | toYaml | nindent 4 }}
{{- end }}
spec:
  destination:
    namespace: addon-cert-manager
    server: https://kubernetes.default.svc
  project: {{ .Values.argo.project }}
  source:
    helm:
      version: v3
      releaseName: cert-manager
      {{- if .Values.argo.common.valueFiles }}
      valueFiles:
        {{- .Values.argo.common.valueFiles | toYaml | nindent 8 }}
        {{ with .Values.argo.common.additionalValueFiles }}
        {{ . | toYaml | nindent 8 }}
        {{ end }}
      {{- end }}
    path: cluster-addons/cert-manager-config/
    repoURL: https://github.com/smuda/home-cluster-argo.git
    targetRevision: {{ .Values.argo.common.target_revision }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=false
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
{{ end }}
