{{ if .Values.prometheus.use }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: addon-prometheus
  namespace: {{ .Values.argo.common.apps_namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "0"
    argocd.argoproj.io/compare-options: ServerSideDiff=true
{{- if .Values.argo.common.finalizers }}
  finalizers: {{ .Values.argo.common.finalizers | toYaml | nindent 4 }}
{{- end }}
spec:
  destination:
    namespace: addon-prometheus
    server: https://kubernetes.default.svc
  project: {{ .Values.argo.project }}
  source:
    helm:
      version: v3
      releaseName: prometheus
      {{- if .Values.argo.common.valueFiles }}
      valueFiles:
        {{- .Values.argo.common.valueFiles | toYaml | nindent 8 }}
        {{ with .Values.argo.common.additionalValueFiles }}
        {{ . | toYaml | nindent 8 }}
        {{ end }}
      {{- end }}
    path: cluster-addons/prometheus/
    repoURL: https://github.com/smuda/home-cluster-argo.git
    targetRevision: {{ .Values.argo.common.target_revision }}
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    automated:
      prune: true
      selfHeal: true
    {{- if .Values.argo.common.enableLabelManagement }}
    managedNamespaceMetadata:
      labels: # The labels to set on the application namespace
        pod-security.kubernetes.io/audit: {{ .Values.prometheus.podSecurityLevel }}
        pod-security.kubernetes.io/enforce: {{ .Values.prometheus.podSecurityLevel }}
        pod-security.kubernetes.io/warn: {{ .Values.prometheus.podSecurityLevel }}
    {{- end }}
{{ end }}
